
{% extends 'MartonTopCarsBundle:Default/Pages:cars.html.twig' %}

{% block cars_image %}garage.jpg{% endblock %}

{% block active_garage %}class="active"{% endblock %}

{% block subpage %}

    <div class="cars">

        <div class="tool-bar">
            <p><span id="selected-car-counter">{{ selected_cars_count }}</span><span>/10 cars selected</span></p>
            <button id="unselect-cars" class="button-save">Unselect All</button>
        </div>

        {% for car in cars %}

            <div class="card_frame garage-card {{ (car.selected) ? 'selected-card' : '' }}" data-car="{{ car.id }}">
                <div class="frame_model">{{ car.model }}</div>
                <div class="frame_content">
                    <img width="230" height ="153" src="{{ asset('bundles/martontopcars/images/card_game/') ~ car.image }}.png"/>
                    <div class="frame_fade">
                    </div>
                </div>
                <div class="frame_details">
                    Speed: {{ car.speed }} km/h | Power: {{ car.power }} hp | Torque: {{ car.torque }} Nm <br> Acceleration: {{ car.acceleration }} s | Weight: {{ car.weight }} kg
                </div>
            </div>

        {% endfor %}

        {% if cars is empty %}

            <p>Unfortunately you don't have any cars yet. :(</p>

        {% endif %}

    </div>

    <div class="user_footer">
        <div class="user_level">
            <span>{{ cars | length }} / {{ all_cars_count }} cars collected</span>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script>

        GarageModule.init("{{ path('marton_topcars_select_car') }}", "{{ path('marton_topcars_unselect_all') }}");

    </script>

{% endblock %}

