
{% extends 'MartonTopCarsBundle:Default/Pages:cars.html.twig' %}

{% block cars_image %}garage.jpg{% endblock %}

{% block active_garage %}class="active"{% endblock %}

{% block subpage %}

    <div class="cars">

        {% for car in cars %}

            <div class="card_frame">
                <div class="frame_model">{{ car.model }}</div>
                <div class="frame_content">
                    <img width="230" height ="153" src="{{ asset('bundles/martontopcars/images/card_game/') ~ car.image }}.png"/>
                    <div class="frame_fade">
                    </div>
                </div>
                <div class="frame_details">
                    Speed: {{ car.speed }} km/h | Power: {{ car.power }} hp | Torque: {{ car.torque }} Nm <br> Acceleration: {{ car.acceleration }} s | Weight: {{ car.weight }} kg
                </div>
            </div>

        {% endfor %}

        {% if cars is empty %}

            <p>Unfortunately you don't have any cars yet. :(</p>

        {% endif %}

    </div>

{% endblock %}

