{% extends 'MartonTopCarsBundle:Default/Pages:cars.html.twig' %}

{% block cars_image %}pending.jpg{% endblock %}

{% block active_pending %}class="active"{% endblock %}

{% block subpage %}

    <div class="cars">

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="tool-bar">
            <button id="new-suggested-car" class="button-save">+ Add</button>
        </div>

        {% for car in cars %}

            <div class="card_frame" id="cf-{{ car.id }}">

                <div class="frame_model">{{ car.model }}</div>

                <div class="frame_content">

                    <img class="image" data-element="{{ car.id }}" name="show" width="230" height ="153" src="{{ asset('bundles/martontopcars/images/card_game_suggest/') ~ car.image }}"/>

                    <div class="frame_fade">
                    </div>

                    <div class="vote">
                        <p class="vote_count" id="count{{ car.id }}">{{ car.upvotes }}</p>
                    </div>

                    <div class="card_title_background">
                    </div>

                    <div class="card_title">
                        <div class="author">
                            <span>by </span>
                            <span>{{ car.username }}</span>
                        </div>
                    </div>

                    <div class="card_title_actions">

                        <div class="action_div">
                            <img class="no_display" id="l{{ car.id }}" src="{{ asset('bundles/martontopcars/images/src/loading_small.gif') }}">
                            {% if car.upvoted %}
                                <p class="upvote plus" data-element="{{ car.id }}">+1</p>
                            {% else %}
                                <p class="upvote" data-element="{{ car.id }}">+1</p>
                            {% endif %}
                        </div>

                    </div>
                </div>

                <div class="frame_details min" id="f{{ car.id }}">
                    Speed: <span class="speed">{{ car.speed }}</span> km/h |
                    Power: <span class="power">{{ car.power }}</span> hp |
                    Torque: <span class="torque">{{ car.torque }}</span> Nm <br>
                    Acceleration: <span class="acceleration">{{ car.acceleration }}</span> s |
                    Weight: <span class="weight">{{ car.weight }}</span> kg
                </div>

                <div class="admin_tasks">
                    {% if is_admin %}
                        <span class="accept admin_action" data-element="{{ car.id }}">Accept</span>
                    {% endif %}
                    {% if (is_admin or car.belongs_to_user) %}
                        <span class="edit admin_action" data-element="{{ car.id }}">Edit</span>
                        <span class="delete admin_action" data-element="{{ car.id }}">Delete</span>
                    {% endif %}
                </div>

            </div>

        {% endfor %}

        {% if cars is empty %}

            <p>There's no pending car at the moment. Check back later!</p>

        {% endif %}

    </div>

    </div>

    </div>

    <!-- Popups -->
    <div id="popup" class="popup">

    <div class="popup-content shadow">

    <div class="popup-tools"><span class="popup-exit">X</span></div>

    <form action="" method="post" id="edit_form" class="popup-body" {{ form_enctype(edit_form) }}>

        <h1>Edit</h1>

        <div class="card_fragment card_suggest" id="c_fragment">

            <div class="card_block" id="c_block">

                <div class="player_card visible" id="c_card">

                    <div class="card_name" id="c_name">{{ form_widget(edit_form.model, { 'attr' : {'placeholder' : 'Name of the car'}}) }}</div>

                    <div class="card_image" id="c_image">
                        <img id="v_image" width="230px" height="153px" src=""/>
                        {{ form_widget(edit_form.image_file, {'attr': {'class' : 'input-file'}}) }}
                    </div>

                    <div class="card_row" id="c_speed" name="speed">
                        <span class="row_label">Speed:</span>
                        <span id="v_speed">{{ form_widget(edit_form.speed, { 'attr' : {'placeholder' : '0'}}) }}</span>
                        <span class="row_unit">Km/h</span>
                    </div>

                    <div class="card_row" id="c_power" name="power">
                        <span class="row_label">Power:</span>
                        <span id="v_power">{{ form_widget(edit_form.power, { 'attr' : {'placeholder' : '0'}}) }}</span>
                        <span class="row_unit">Hp</span>
                    </div>

                    <div class="card_row" id="c_torque" name="torque">
                        <span class="row_label">Torque:</span>
                        <span id="v_torque">{{ form_widget(edit_form.torque, { 'attr' : {'placeholder' : '0'}}) }}</span>
                        <span class="row_unit">Nm</span>
                    </div>

                    <div class="card_row" id="c_acceleration" name="acceleration">
                        <span class="row_label">Acceleration:</span>
                        <span id="v_acceleration">{{ form_widget(edit_form.acceleration, { 'attr' : {'placeholder' : '0'}}) }}</span>
                        <span class="row_unit">s</span>
                    </div>

                    <div class="card_row" id="c_weight" name="weight">
                        <span class="row_label">Weight:</span>
                        <span id="v_weight">{{ form_widget(edit_form.weight, { 'attr' : {'placeholder' : '0'}}) }}</span>
                        <span class="row_unit">kg</span>
                    </div>

                </div>

            </div>

        </div>

        <br>
        <hr>

        {{ form_widget(edit_form.comment, { 'attr': {'class': 'input-comment', 'placeholder' : 'Your comment'} }) }}
        {{ form_widget(edit_form._token) }}

        <hr>
        <br>

        <button type="button" class="button-cancel popup-exit" id="cancel">Cancel</button>
        <button type="submit" class="button-save" id="save">Save</button>

    </form>

    <div id="accept_form" class="popup-body">

        <button type="button" class="button-cancel popup-exit" id="cancel">No</button>
        <button type="button" class="button-save" id="accept">Yes</button>

    </div>

    <div id="delete_form" class="popup-body">

        <button type="button" class="button-cancel popup-exit" id="cancel">No</button>
        <button type="button" class="button-save" id="delete">Yes</button>

    </div>

{% endblock %}

{% block background %}
        <script>
            var ajaxPath = {
                upvote:"{{ path('marton_topcars_pending_vote') }}",
                accept:"{{ path('marton_topcars_pending_accept') }}",
                editOrCreate:"{{ path('marton_topcars_pending_edit_or_create') }}",
                query:"{{ path('marton_topcars_pending_query') }}"
            };

            var imgPaths = "{{ asset('bundles/martontopcars/images/card_game_suggest/') }}";

            PendingCarModule.init(ajaxPath,imgPaths);
            ImageInputModule.init("suggestedCar_image_file","v_image");

        </script>
{% endblock %}