{% extends '::base.html.twig' %}

{% block title %}Top Cars{% endblock %}

{% block body %}

    <div class="main_container">

        <div class="loading-box-container">
            <div id="loading-box"></div>
        </div>

        <div class="top_header">

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <div class="user_info" >
                    <p>Logged in as {{  app.user.username }}</p>
                </div>

                <ul>
                    <li class="red">
                        <a class="top_tabs" href="{{ path("marton_topcars_logout") }}">
                            logout
                        </a>
                    </li><li>
                        <a class="top_tabs{% block active_tab_account %}{% endblock %}" href="{{ path("marton_topcars_account") }}">
                            account
                        </a>
                    </li>
                </ul>

            {% else %}

                <ul>
                    <li>
                        <a class="top_tabs{% block active_tab_login %}{% endblock %}" href="{{ path("marton_topcars_login") }}">
                            login
                        </a>
                    </li><li>
                        <a class="top_tabs{% block active_tab_register %}{% endblock %}" href="{{ path('marton_topcars_register') }}" >
                            register
                        </a>
                    </li>
                </ul>

            {% endif %}

        </div>

        <!-- Menu -->
        <div class="menu">
            <div class='dashboard'>

                <ul>
                    <li>
                        <a class="dashboard_tabs{% block active_tab_game %}{% endblock %}" href="{{ path('marton_topcars_game') }}">
                            game
                        </a>
                    </li><li>
                        <a class="dashboard_tabs{% block active_tab_highscores %}{% endblock %}" href="{{ path('marton_topcars_leaderboard') }}">
                            leaderboard
                        </a>
                    </li><li>
                        <a class="dashboard_tabs{% block active_tab_cars %}{% endblock %}" href="{{ path('marton_topcars_garage') }}" >
                            cars
                        </a>
                    </li><li>
                        <a class="dashboard_tabs{% block active_about %}{% endblock %}" href="{{ path('marton_topcars_about') }}" >
                            about
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Optional Decoration -->
            {% block dash_line %}{% endblock %}

        </div>


        <!-- Page Content -->
        {% block content %}{% endblock %}

        <!-- Error Messages -->
        <div id="global-error"></div>

        <div class="copyright noselect">
            <p>Copyright 2014 - Márton Széles</p>
        </div>

    </div>

    <div id="loading-container">
        <div id="loading-progress-container">
        </div>
    </div>

    {% block background %}
        <!-- Optional Background -->
        <script>
            var images = ["{{ asset('bundles/martontopcars/images/background/IMG_2763.jpg') }}"];
            preloadImages(images).done(function(){
                ImageRotatorModule.init(images).create().shade().start().pause();
            });
        </script>

    {% endblock %}

    {% block javascript %}

    {% endblock %}

{% endblock %}