{% extends 'MartonTopCarsBundle:Default:index.html.twig' %}

{% block title %}Top Cars | Account{% endblock %}

{% block active_tab_account %} top_header_active{% endblock %}

{% block dash_line %}
    <div class="dash_line"></div>
{% endblock %}

{% block content %}

<div class="content shadow">
    <div class="container user" id="card_game">

        <div class="user_header">

        </div>

        <div class="user_profile">

            <!-- Left Column -->
            <div class="user_column user_left">
                <img id="profile-picture" width="160" height="160" src="{{ asset('bundles/martontopcars/images/avatar/' ~ user_details.profilePicturePath) }}"/>
                <hr>

                {% for role in user.roles %}
                <div class="user_roles">
                    {{ role.name }}
                </div>
                {% endfor %}

                <hr>
            </div>

            <!-- Right Column -->
            <div class="user_column user_right">

                <div class="profile_header">
                    <div class="user_name">
                        <h3>{{ user.username }}</h3>
                    </div>
                    <div class="user_level">
                        <button id="delete-account" class="button-delete">
                            Delete Account
                        </button>
                    </div>
                </div>

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <h5>Details</h5>

                <div class="stats_block">

                    <div class="div_form">

                        {{ form_start(details_form, {'attr': {'novalidate': 'novalidate'}}) }}

                        <div class="form-error">{{ form_errors(details_form.firstName) }}</div>
                        {{ form_label(details_form.firstName) }}
                        {{ form_widget(details_form.firstName) }}

                        <div class="form-error">{{ form_errors(details_form.lastName) }}</div>
                        {{ form_label(details_form.lastName) }}
                        {{ form_widget(details_form.lastName) }}

                        <div class="form-error">{{ form_errors(details_form.imageFile) }}</div>
                        {{ form_label(details_form.imageFile) }}
                        {{ form_widget(details_form.imageFile) }}

                        <div class="form-error">{{ form_errors(details_form.country) }}</div>
                        {{ form_label(details_form.country) }}
                        {{ form_widget(details_form.country) }}

                        <div class="form-error">{{ form_errors(details_form.about) }}</div>
                        {{ form_label(details_form.about) }}
                        {{ form_widget(details_form.about) }}

                        {{ form_end(details_form) }}

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

    <!-- Popups -->
<div id="popup" class="popup">

    <div class="popup-content shadow">

        <div class="popup-tools"><span class="popup-exit"><img width="20px" height="20px" src="{{ asset('bundles/martontopcars/images/src/exit.png') }}"/></span></div>

        <h1 id="popup-header"></h1>

        <div id="delete-confirm" class="popup-body">

            <p>Are you sure you would like to delete your account for good?</p>

            <button type="button" class="button-cancel popup-exit" id="cancel">No</button>
            <button type="button" class="button-save" id="confirm-delete">Yes</button>

        </div>

    </div>
</div>

{% endblock %}

{% block javascript %}

    <script>

        ImageInputModule.init("userDetails_imageFile", "profile-picture", "profile-picture");
        AccountModule.init("{{ path('marton_topcars_delete_account') }}");

    </script>

{% endblock %}