
{% extends 'MartonTopCarsBundle:Default:index.html.twig' %}

{% block active_tab_game %} active{% endblock %}

{% block dash_line %}
    <div class="dash_line"></div>
{% endblock %}

{% block content %}

    <div class="content shadow">
        <div class="container noselect" id="card_game">

            <div class="game_header">
                <button id="bt_settings">Settings</button>
                <div class="level_score" id="s_score">0</div>
            </div>

            <div class="settings">
                <div class="settings_content">
                    <h2>Settings</h2>
                    <hr>
                    <div class="setting_label">Number of players:</div>
                    <div class="setting_input">
                        <input type="text" min="2" max="10"/>
                    </div>
                    <div class="setting_action">
                        <button id="save">Save</button>
                        <button id="cancel">Cancel</button>
                    </div>
                </div>
            </div>

            <div class="user_header">
            </div>


            <!-- Top Panel-->
            <div class="top_panel" id="top_panel">
                <div class="level_bar">

                    <div class="score_bar">
                        <div class="fill" id="s_fill"></div>
                    </div>

                </div>
            </div>

            <!-- Battlefield -->
            <div class="battlefield" id="battlefield">

            </div>

        </div>
    </div>

{% endblock %}

{% block background %}

    <script>

        // Card Game
        var IMG_PREFIX = "{{ asset('bundles/martontopcars/images/card_game/') }}";
        var IMG_FORMAT = ".png";

        var cardGame = new ClassicGame();

        cardGame.setting.players = 2;
        cardGame.setting.imgFolder = IMG_PREFIX;
        cardGame.setting.imgFormat = IMG_FORMAT;
        cardGame.setting.ajaxPostScore = "{{ path('marton_topcars_post_score') }}";
        cardGame.setting.gameContainer = document.getElementById("card_game");

        cardGame.setUserInfo(JSON.parse('{{ user_level_info | raw }}'));

        var userDeck = {{ user_deck | raw }};

        // TODO: set these cards after the players have been created
        for (key in userDeck){
            if (userDeck.hasOwnProperty(key)){
                cardGame.userCards[key] = userDeck[key];
            }
        }

        cardGame.setCards({{ deck | raw }}).preloadImages(function(){
            cardGame.test();
        });

    </script>

{% endblock %}
