
{% extends 'MartonTopCarsBundle:Default:index.html.twig' %}

{% block title %}Top Cars | Game{% endblock %}

{% block active_tab_game %} active{% endblock %}

{% block dash_line %}
    <div class="dash_line"></div>
{% endblock %}

{% block content %}

    <div class="content shadow">
        <div class="container game-container noselect">

            <div class="game_header">
                <button id="main-menu-button" class="menu-button button-blue">Main Menu</button>
                <button id="settings-button" class="menu-button button-blue">Settings</button>


                {% if is_classic_unlocked %}
                <div class="user-deck-container">
                    <p>Your current cars</p>
                    {% set img_path = asset('bundles/martontopcars/images/card_game/') %}
                    <div id="user-deck">
                        {% set i = 1 %}
                        {% for car in selected_cars %}
                            <div class="mini-image-div">
                                <div class="mini-image-counter">{{ i }}</div>
                                <img class="mini-image" width="60px" height="40px" src="{{ img_path ~ car.image }}"/>
                            </div>
                        {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}


                <div class="user-progress">
                    <div class="block">
                        <p class="progress-title">Level</p><p class="progress-value" id="user-level">{{ progress.level }}</p>
                    </div>
                    <div class="block">
                        <p class="progress-title">Cr.</p><p class="progress-value" id="user-gold">{{ progress.gold }}</p>
                    </div>
                </div>
            </div>

            <!-- Top Panel-->
            <div class="top_panel" id="top_panel">
                <div class="level_score" id="s_score"></div>
                <div class="level_bar">



                    <div class="score_bar">
                        <div class="fill" id="s_fill"></div>
                    </div>

                </div>
            </div>

            <!-- Main Menu -->
            <div id="main-menu">
                <div class="game-type game-type-unlocked" id="free-for-all" style="background-image: url({{ asset('bundles/martontopcars/images/src/freeforall.jpg') }})">
                    <p>Free For All</p>
                </div>
                <div class="game-type {{ is_classic_unlocked ? 'game-type-unlocked' : 'game-type-locked' }}" id="classic" style="background-image: url({{ asset('bundles/martontopcars/images/src/classic.jpg') }})">
                    <p>Classic</p>
                </div>
            </div>

            <!-- Battlefield -->
            <div class="battlefield" id="battlefield">

            </div>

        </div>
    </div>

    <!-- Popups -->
    <div id="popup" class="popup">

        <div class="popup-content shadow">

            <div class="popup-tools">
                <span class="popup-exit"><img width="20px" height="20px" src="{{ asset('bundles/martontopcars/images/src/exit.png') }}"/>
                </span>
            </div>

            <h1 id="popup-header"></h1>

            <div id="error-block"></div>

            <div id="settings-block" class="popup-body">

                <div class="settings-row">

                    <div class="player-option active" id="player-option-1" data-players="2">
                        2 Players
                    </div>

                    <div class="player-option" id="player-option-2" data-players="3">
                        3 Players
                    </div>

                    <div class="player-option" id="player-option-3" data-players="10">
                        10 Players
                    </div>

                </div>

                <button type="button" class="button-cancel popup-exit">Cancel</button>
                <button type="button" class="button-save" id="settings-save">Save</button>

            </div>

            <div id="winning-screen-block" class="popup-body">

                <div>Congratulations, you have won the game!</div>
                <div>+ Cr. 50</div>

                <button type="button" class="quit-game-button button-save">OK</button>

            </div>

            <div id="losing-screen-block" class="popup-body">

                <div>Sorry, you lost :(</div>

                <button type="button" class="quit-game-button button-save">OK</button>

            </div>

            <div id="level-up-block" class="popup-body">
                <div><span>+ Cr.</span><span id="level-gold"></span></div>
                <button type="button" class="button-save popup-exit">OK</button>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script>

        // Card Game
        var IMG_PREFIX = "{{ asset('bundles/martontopcars/images/card_game/') }}";
        var AJAX_POST_SCORE_PATH = "{{ path('marton_topcars_post_score') }}";
        var AJAX_FREE_FOR_ALL = "{{ path('marton_topcars_free_for_all') }}";
        var AJAX_CLASSIC = "{{ path('marton_topcars_classic') }}";
        var AJAX_WIN_CLASSIC = "{{ path('marton_topcars_win_classic') }}";

        GameModule.init(AJAX_POST_SCORE_PATH, AJAX_FREE_FOR_ALL, AJAX_CLASSIC, AJAX_WIN_CLASSIC, IMG_PREFIX);

    </script>

{% endblock %}
