{% extends 'MartonTopCarsBundle:Default:index.html.twig' %}

{% block active_tab_highscores %} active{% endblock %}

{% block dash_line %}
    <div class="dash_line"></div>
{% endblock %}

{% block content %}

    <div class="content shadow">
        <div class="container leaderboard-container" id="card_game">


            <form class="search-form" action="{{ path('marton_topcars_user_search', {'sort': sort}) }}" method="post">
                <input type="text" id="username" name="username" value="{{ username }}" placeholder="Player"/>
                <input type="hidden" id="sort" name="sort" value="{{ sort }}"/>
                <button class="button-save" type="submit" id="button-search">Search</button>
            </form>


            <div class="tool-bar">
                <a href="{{ path('marton_topcars_leaderboard', {'sort':'level', 'username': username}) }}"><button class="button-blue {{ sort == 'level' ? ' active' : '' }}">Level</button></a>
                <a href="{{ path('marton_topcars_leaderboard', {'sort':'score', 'username': username}) }}"><button class="button-blue {{ sort == 'score' ? ' active' : '' }}">Score</button></a>
                <a href="{{ path('marton_topcars_leaderboard', {'sort':'roundWin', 'username': username}) }}"><button class="button-blue {{ sort == 'roundWin' ? ' active' : '' }}">Rounds Won</button></a>
                <a href="{{ path('marton_topcars_leaderboard', {'sort':'roundLose', 'username': username}) }}"><button class="button-blue {{ sort == 'roundLose' ? ' active' : '' }}">Rounds Lost</button></a>
                <a href="{{ path('marton_topcars_leaderboard', {'sort':'streak', 'username': username}) }}"><button class="button-blue {{ sort == 'streak' ? ' active' : '' }}">Streak</button></a>
                <a href="{{ path('marton_topcars_leaderboard', {'sort':'skill', 'username': username}) }}"><button class="button-blue {{ sort == 'skill' ? ' active' : '' }}">Skill</button></a>
            </div>

            <table class="leaderboard">
                <tr class="tr_header">
                    <th class="left">Player</th>
                    <th class="{{ sort == 'level' ? 'active' : '' }}">Level</th>
                    <th class="{{ sort == 'score' ? 'active' : '' }}">Score</th>
                    <th class="{{ sort == 'roundWin' ? 'active' : '' }}">Win</th>
                    <th class="{{ sort == 'roundLose' ? 'active' : '' }}">Lose</th>
                    <th>W/L ratio</th>
                    <th class="{{ sort == 'streak' ? 'active' : '' }}">Streak</th>
                    <th class="{{ sort == 'skill' ? 'active' : '' }}">Skill</th>
                </tr>
                {% for user in users %}

                    <tr>
                        <td class="left">
                            <div class="avatar">
                                <a href="{{ path('marton_topcars_user', { 'user': user.username }) }}">
                                    <img src="{{ asset('bundles/martontopcars/images/avatar/') ~ user.details.profilePicturePath }}" width="40px" height="40px"/>
                                </a>
                            </div>
                            <a href="{{ path('marton_topcars_user', { 'user': user.username }) }}">{{ user.username }}</a>
                        </td>

                        <td class="{{ sort == 'level' ? 'active' : '' }}">{{ user.progress.level }}</td>
                        <td class="{{ sort == 'score' ? 'active' : '' }}">{{ user.progress.score }}</td>
                        <td class="{{ sort == 'roundWin' ? 'active' : '' }}">{{ user.progress.roundWin }}</td>
                        <td class="{{ sort == 'roundLose' ? 'active' : '' }}">{{ user.progress.roundLose }}</td>
                        <td>{{ user.statistics.wLRatio }}</td>
                        <td class="{{ sort == 'streak' ? 'active' : '' }}">{{ user.progress.streak }}</td>
                        <td class="{{ sort == 'skill' ? 'active' : '' }}">{{ user.progress.skill }}</td>
                    </tr>



                {% endfor %}

            </table>




        </div>
    </div>

{% endblock %}