{% extends 'MartonTopCarsBundle:Default:index.html.twig' %}

{% block dash_line %}
    <div class="dash_line"></div>
{% endblock %}

{% block content %}

    <div class="content">

        <div class="container shadow">

            <div class="cars">

                {% for car in cars %}

                    <div class="card_frame">

                        <div class="frame_model">{{ car.model }}</div>

                        <div class="frame_content">

                            <img width="230" height ="153" src="{{ asset('bundles/martontopcars/images/card_game_suggest/') ~ car.image }}"/>

                            <div class="frame_fade">
                            </div>

                            <div class="vote">
                                <p class="vote_count" id="count{{ car.id }}">{{ car.upvotes }}</p>
                            </div>

                            <div class="card_title_background">
                            </div>

                            <div class="card_title">
                                <span>by </span>
                                <span>{{ car.username }}</span>
                            </div>

                            <div class="card_title_actions">
                                <img class="no_display" id="l{{ car.id }}" src="{{ asset('bundles/martontopcars/images/src/loading_small.gif') }}">
                                {% if car.upvoted %}
                                    <p class="upvote action plus" data-element="{{ car.id }}">+1</p>
                                {% else %}
                                    <p class="upvote action" data-element="{{ car.id }}">+1</p>
                                {% endif %}
                            </div>

                            <div class="admin_tasks">
                                <span class="accept admin_action" data-element="{{ car.id }}">Accept</span>
                                <span class="edit admin_action" data-element="{{ car.id }}">Edit</span>
                                <span class="delete admin_action" data-element="{{ car.id }}">Delete</span>
                            </div>
                        </div>

                    </div>

                {% endfor %}

                {% if cars is empty %}

                    <p>There's no pending car at the moment. Check back later!</p>

                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}

{% block background %}
    <script>
        var pendingCar = new PendingCar();
        pendingCar.setAjaxPath({
            upvote: "{{ path('marton_topcars_pending_vote') }}",
            accept: "{{ path('marton_topcars_pending_accept') }}"
        });
    </script>
{% endblock %}