{% extends 'MartonTopCarsBundle:Default:index.html.twig' %}

{% block active_tab_register %} top_header_active{% endblock %}

{% block dash_line %}
    <div class="dash_line"></div>
{% endblock %}

{% block content %}

    <div class="content right">

        <div class="small_container shadow">

            <div class="div_form">

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <div class="success">
                        <h4>You've already registered :)</h4>
                    </div>

                {% else %}

                    <h1>Registration:</h1>

                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                    <div class="form-error">{{ form_errors(form.user.username) }}</div>
                    {{ form_label(form.user.username) }}
                    {{ form_widget(form.user.username) }}

                    <div class="form-error">{{ form_errors(form.user.email) }}</div>
                    {{ form_label(form.user.email) }}
                    {{ form_widget(form.user.email) }}

                    {% for passwordField in form.user.password %}

                        <div class="form-error">{{ form_errors(passwordField) }}</div>
                        {{ form_label(passwordField) }}
                        {{ form_widget(passwordField) }}

                    {% endfor %}

                    <div>

                        <div class="form-error">{{ form_errors(form.terms) }}</div>
                        {{ form_widget(form.terms) }}<a href="">Terms and Conditions</a>

                    </div>

                    {{ form_row(form.register) }}
                    {{ form_end(form) }}

                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}